
:root {
    --font-size: 16px;

    --color-black: rgb(35,35,35);
    --color-white: rgb(255,255,255);
    --color-blue: rgb(30,135,240);
    --color-orange: rgb(255,85,0);
    --color-yellow:  rgb(255,180,0);
    --color-lightGray: rgb(245,245,245);
    --color-gray: rgb(235,235,235);
    --color-semiLightGray: rgb(60,60,60);

    --padding-section: 3em;

    --shadow-text: 0 0 2em var(--color-black);
    --shadow-gray-box: 0 0 2em var(--color-lightGray);
    --shadow-white-box: 0 0 1em 1.5em var(--color-white);
    --radius: 2em;

}

/* ===== TEXT SIZE ===== */
.text-sm {
    font-size: .85em;
}

.text-m {
    font-size: 1.5em;
}

.text-l {
    font-size: 2em;
}

.text-xl {
    font-size: 3em;
    line-height: 1.15em;
}

@media (max-width: 1024px) {

    .text-sm {
        font-size: .65em;
    }

    .text-m {
        font-size: 1.25em;
    }

    .text-l {
        font-size: 1.5em;
    }

    .text-xl {
        font-size: 2em;
        line-height: 1em;
    }
}
/* ===== TEXT COLOR ===== */
.text-black {
    color: var(--color-black);
}

.text-white {
    color: var(--color-white);
}

.text-gray {
    color: var(--color-gray);
}

.text-light-gray {
    color: var(--color-lightGray);
}

.text-orange {
    color: var(--color-orange);
}

.text-yellow {
    color: var(--color-yellow);
}

/* ===== TEXT DECORATION ===== */
.text-bold {
    font-weight: bold;
}

.text-heavy,
.h1,.h2,.h3,.h4 {
    font-family: 'Mont Heavy', sans-serif;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-shadow {
    text-shadow: var(--shadow-text);
}

.text-dolled {
    line-height: 1.75em;
}

@media (max-width: 640px) {
    .text-dolled {
        line-height: 1.25em;
    }
}
/* ===== TEXT POSITION ===== */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

/* ===== BOX DECORATION ===== */
.-drop-shadow {
    box-shadow: var(--shadow-gray-box);
}

.-drop-light {
    box-shadow: var(--shadow-white-box);
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}

.light-corner {
    border-radius: calc(var(--radius) / 10);
}

.left-padding {
    padding-left: 1.25em;
}

.backgroud-gray {
    background: var(--color-semiLightGray);
}