/* ===== INDEX PAGE ===== */

body {
    min-height: 100%;
}


main {
    transition: .25s ease;
}

.city [date] {
    position: relative;
}

.city [date]:before {
    position: absolute;
    top:10%;bottom:10%;
    left:10%;right:10%;
    content: attr(date);
    background: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .25s ease;
}

.city:active [date]:before,
.city:hover [date]:before {
    opacity: 1;
}