<!DOCTYPE html>
<html>
<head>
    <title>Прогноз погоды</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=cd9aea11-b8bc-4e3c-9b54-8dee20ee96bf&lang=ru_RU" type="text/javascript">
    </script>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</head>
<body >
<!-- HEADER SECTION START -->
    <header id="layout-header" class="uk-padding-small uk-background-primary">
        <h1 class="uk-heading-primary text-white uk-text-uppercase uk-animation-slide-left-medium uk-text-center">
            <span class="uk-text-bold">
                Прогноз
            </span>
            <span>
                 погоды
            </span>
        </h1>
    </header>
<!-- HEADER SECTION END -->

<!-- CONTENT SECTION START -->
    <main id="layout-content" class="uk-padding-large uk-animation-fade uk-background-secondary " uk-height-viewport="expand: true">
        <div class="controls-wrapper uk-flex uk-flex-center uk-padding-small">
            <div>
                <select id="temperatureType" class="uk-select uk-form-large" >
                    <option value="celsius" selected>°C</option>
                    <option value="fahrenheit">°F</option>
                </select>
            </div>
            <div class="uk-padding-remove uk-width-1-1@s uk-width-3-4@m uk-width-1-4@l">
                <input id="cityInput" placeholder="Введите город" class="uk-input uk-form-large">
            </div>
            <div class="uk-padding-remove uk-width-auto">
                <button id="searchButton" class="uk-button uk-button-primary uk-button-large" disabled>Показать</button>
            </div>
        </div>
        <div id="weatherWrapper" class="uk-child-width-1-1@s uk-child-width-1-2@l uk-padding-large uk-grid-medium" uk-grid>

        </div>
        <div id="spinner" class="uk-flex uk-flex-center hidden">
            <div uk-spinner="ratio: 2"></div>
        </div>
        <div id="message" class="uk-flex uk-flex-center uk-text-muted uk-text-large uk-animation-slide-top-small">

        </div>
    </main>
<!-- CONTENT SECTION END -->

<!-- FOOTER SECTION START -->
    <footer id="layout-footer" class="uk-padding-small backgroud-gray">
        By Denis Golikov. 2019
    </footer>
<!-- FOOTER SECTION END -->

</body>
</html>
